
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/DatHang.css")
<h2>DatHang</h2>
@{
    List<WineStore.Controllers.GioHangUiController.ProductViewModel> chitiet = (List<WineStore.Controllers.GioHangUiController.ProductViewModel>)ViewBag.products;
    List<WineStore.Models.HinhThucThanhToan> thanhToans = ViewBag.listThanhToan;


}
@using (Html.BeginForm("DatHang", "DatHangUi", FormMethod.Post))
{
    <a href="~/GioHangUi/Index" class="btn btn-primary">Continue shopping</a>
    <div class="dathang body-content">
        <div class="infor-placeorder">
            <div>
                <p>Your full name</p>
                <p><input placeholder="Your full name" class="infor" name="hoTenNguoiNhan" /></p>
                <p>Địa chỉ</p>
                <p><input class="infor" placeholder="Your address" name="diaChiGiao" /></p>
                <p>SDT</p>
                <p><input class="infor" placeholder="Your phone number" name="sdtNguoiNhan" /></p>
                <p>Email</p>
                <p><input class="infor" placeholder="Your email" name="emailNguoiNhan" /></p>

            </div>

        </div>
        <div class="border product d-flex justify-content-between">
            <div>
                <h2>Đơn hàng của bạn</h2>
                <table>
                    @{
                        decimal tongtien = 0;
                    }
                    <tr>
                        <td>Product</td>
                        <td></td>

                        <td>Tạm tính</td>
                    </tr>

                    @foreach (var i in chitiet)
                    {
                        <tr>
                            <td><a href="~/Ui/Details?maSP=@i.maSp"><img src="~/Img/WineImages/@i.image" width="100" /></a></td>
                            <td>@i.tenSp x @i.soLuong</td>
                            @{

                                decimal tien = i.soLuong * i.giaBan;
                                tongtien += tien;
                            }

                            <td>@tien</td>
                        </tr>
                        <tr>
                        </tr>
                    }
                    <tr>
                        <th></th>
                        <th></th>
                        <th>@tongtien</th>
                    </tr>

                </table>
                <br />
                @foreach (var i in thanhToans)
                {

                    <input type="radio" name="maHinhThucThanhToan" value="@i.maHinhThucThanhToan" id="@i.maHinhThucThanhToan" @(i == thanhToans.First() ? "checked" : "") />
                    <label for="@i.maHinhThucThanhToan">@i.tenHinhThucThanhToan</label>
                    <br />
                }

                <button type="submit" class="dathang-btn">Placeorder</button>
            </div>
        </div>
    </div>
    
}







